.bd-tw-button {
  background-color: #55acee;
  color: white;
  border-color: transparent !important;
  transition: all .3s ease;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
}

.button {
  margin: 10px 10px 10px;
  cursor: pointer;
  &:active {
    color: white;
  }
}

