.form {
  display: flex;
  flex-direction: column;
  >* {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.tweet-form{
  .button {
    margin: $s-size 0;
  }
}
.time-container {
  display: flex;
  justify-content: flex-start;
  
  .Select {
    margin: 10px 10px 10px 0;
    width: 150px;
  }
}
