.delay1{
  -webkit-animation-delay: .2s; /* Safari 4.0 - 8.0 */
  animation-delay: .2s;
}
.delay2{
  -webkit-animation-delay: .4s; /* Safari 4.0 - 8.0 */
  animation-delay: .4s;
}
.delay3{
  -webkit-animation-delay: .6s; /* Safari 4.0 - 8.0 */
  animation-delay: .6s;
}