.time_picker_wrapper {
  width: 130px;
  margin-left: 1em;
  border: 1px solid #dbdbdb;
  .time_picker_preview {
    color: #565a5c;
    border-radius: 0;
    transition: none;
    &.active {
      border-bottom: 2px solid #008489;
    }
  }
  .preview_container {
    padding: 0 !important;
  }
}